header img{
  max-width:200px;
}
.nav{
  float:right;
}
.nav li{
  padding:30px;
}
body{
  width:100%;
}
main{
  width:calc(66.666% - 60px);
  padding:30px;
  float:left;
}
aside{
  width:calc(33.333% - 60px);
  padding:30px;
  float:left;
}